# Datasets
dataset-9/
datasets/

# Runs and Models
runs/
*.pt
*.onnx

# Python
__pycache__/
*.py[cod]
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Media and Outputs
video/
videos/
clips/
dataset_clips/
results (1)/


